@font-face {
    font-family: 'Montserrat-Regula';
    font-weight: 400;
    font-style: normal;
    src: local('Montserrat'),
        url('../fonts/montserrat-regular.woff2') format('woff2'),
        url('../fonts/montserrat-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Montserrat'),
        url('../fonts/montserrat-medium.woff2') format('woff2'),
        url('../fonts/montserrat-medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Semibold';
    font-weight: 500;
    font-style: normal;
    src: local('Montserrat'),
        url('../fonts/montserrat-semibold.woff2') format('woff2'),
        url('../fonts/montserrat-semibold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Mitr';
    font-weight: 500;
    font-style: normal;
    src: local('Montserrat'),
        url('../fonts/Mitr-Regular.woff2') format('woff2'),
        url('../fonts/Mitr-Regular.woff') format('woff');
    font-display: swap;
}