
button,
a{
    cursor: pointer;
}

body{
    position: relative;
}

.container{
    max-width: 1233px;
    margin: 0 auto;
}
.header__menu-item{
    @extend %montserrat-400;
    font-size: 17px;
    line-height: 22px;
    color: $descriptionTextColor;
    height: 23px;
    width: 124px;
    position: relative;
    cursor: pointer;
    &:hover{      
        .header__menu-item-link{
            @extend %montserrat-600;
            color: $defaultColor;
        }
         
        &::after{
            content: '';
            width: 100%;
            height: 2px;
            background-color: $defaultColor;
            position: absolute;
            bottom: -33px;
            left: 0;
        }
    }
}



.top__menu-text{
    @extend %montserrat-400;
    font-size: 13px;
    line-height: 17px;
    color: $checkedLinkColor;
}


.track-order{
    color: $inStock;
}

.bread-crumbs__link{
    @extend %montserrat-400;
    font-size: 15px;
    line-height: 20px;
    color: $checkedLinkColor;
}

.top__title{
    @extend %montserrat-600;
    font-size: 26px;
    line-height: 34px;
    color: $descriptionTextColor;
}

.top__filter-link{
    @extend %montserrat-500;
    font-size: 16px;
    line-height: 21px;
    color: $descriptionTextColor;
}

.heart{
    cursor: pointer;
}



.product__item-title{
    @extend %montserrat-600;
    font-size: 16px;
    line-height: 21px;
    color: $descriptionTextColor;
    margin-bottom: 6px;
}

.product__vendor-code{
    @extend %montserrat-400;
    font-size: 9px;
    line-height: 12px;
    color: $oldPriceColor;
    margin-bottom: 13px;
}

.product__description{
    @extend %montserrat-400;
    font-size: 12px;
    line-height: 16px;
    color: $descriptionTextColor;
}

.product__old-price{
    @extend %montserrat-400;
    font-size: 16px;
    line-height: 21px;
    color: $oldPriceColor;
}

.product__new-price,
.product__new-price-sum{
    @extend %montserrat-500;
    font-size: 26px;
    line-height: 34px;
    color: $descriptionTextColor;
    margin-right: 6px;
}

.filter-case__title{
    @extend %montserrat-600;
    font-size: 18px;
    line-height: 24px;
    color: $descriptionTextColor;
    width: 100%;
}


.filter-case__cheking-box-text{
    @extend %montserrat-500;
    font-size: 16px;
    line-height: 21px;
    color: $descriptionTextColor;
}

.footer__email{
    @extend %mitr-400;
    font-size: 28px;
    line-height: 37px;
    color: #fff;
}

.show-more__btn{
    @extend %montserrat-500;
    font-size: 16px;
    line-height: 21px;
    color: $defaultColor;
}

