%montserrat-400{
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 400;
}

%montserrat-500{
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
}

%montserrat-600{
    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
}

%mitr-400{
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
}

$defaultColor: #007ABE;

$underTheOrder: #B23030;

$inStock: #59B857;

$descriptionTextColor: #4B4B4B;

$oldPriceColor: #929292;

$specificStore: #FF7272;

$checkedLinkColor: #9A9A9A;

$selectColor: #BCBCBC;

$rightSidceBar: #F4F4F4;

$svgColor: #f5f5f5;

$svgBackgroundColor: #A3A3A3;

$quantityProductBG: #FF6C01;

$inStockItem: #1F9D1C;

$searchPlaceHolderColor: #d5d5d5;

$lineColor: #ebebeb;

$scrollbarThumbBg: #c4c4c4;

$specificationsEvenBgColor: #f3f3f3;

$tabBorderColor: #CBC9C9;